version: "3"

services:
  app:
    container_name: app
    restart: always
    build: .
    environment: 
      - PORT=3000 
    ports: 
      - "3000:3000"
    links: 
      - mongo:27017
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
